.v-main{
  background-color: black;
  min-height: 90vh;
}


.movie-summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.genre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.show-detail {
  display: flex;
  align-items: baseline;
  gap: 5px;
  margin: 10px 0;
}

.loadMore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.no-data-found {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  
}